#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.tree {
  z-index: 20;
}

@keyframes flash {
  0%, 100% { background-color: #6A6; }
  25%, 75% { background-color: #f87171; }
}

.animate-flash {
  animation: flash 1s ease-in-out 2;
}